################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/HDPredictor/bin/Debug/net8.0-android
/.vs
/HDPredictor/obj
/HDPredictor/bin/Debug
/HDPredictorModel/bin
/HDPredictorModel/obj
